<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

    <arg name="basepath" value="."/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>
    <arg name="parallel" value="80"/>

    <!-- Show progress -->
    <arg value="p"/>

    <!-- Paths to check -->
    <file>bin</file>
    <file>src</file>
    <file>tests</file>

    <!-- Include all rules from the Laminas Coding Standard -->
    <rule ref="LaminasCodingStandard">
        <!-- Needed to avoid undefined index errors due caching issue in \SlevomatCodingStandard\Helpers\SniffLocalCache::setIfNotCached -->
        <exclude name="SlevomatCodingStandard"/>

        <!-- aligned with app -->
        <exclude name="WebimpressCodingStandard.NamingConventions.Exception"/>
        <exclude name="WebimpressCodingStandard.NamingConventions.Trait"/>
        <exclude name="WebimpressCodingStandard.NamingConventions.Interface"/>
    </rule>
</ruleset>
