nbproject
._*
.~lock.*
.buildpath
.DS_Store
.idea
.php_cs.cache
.project
.settings
vendor
data/*
!data/cache
data/cache/*
!data/cache/.gitkeep
.phpunit.result.cache
.env
app.env
.phpcs-cache
phpcs.xml
psalm.xml
