#######
# APP #
#######
PROOPH_ENV=dev
LOG_LEVEL=warning
LOG_NAME=event_engine

# Storage credentials
PDO_DSN=pgsql:host=postgres port=5432 dbname=event_engine
PDO_USER=dev
PDO_PWD=dev

#######
# ENV #
#######
# add your ip here for debugging
XDEBUG_CONFIG="client_host="
PHP_IDE_CONFIG=serverName=application
